.navbar {
  background-color: #1a1a1a !important;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.navbar .nav-link {
  color: #fff;
  font-weight: 600;
  transition: color 0.3s;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #ffd700;
}

.navbar-brand {
  font-weight: 700;
  color: #ffffff !important;
  text-transform: uppercase;
}